<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Hà Tools</title>
  <meta name="keywords" content="HTML5,CSS3,Admin Template" />
  <meta name="description" content="" />
  <meta name="Author" content="HaTool" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/simple-line-icons-master/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/ui/jquery-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/plugins/toastr/toastr.min.css" />
  <!-- THEME CSS -->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/theme/dark.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
  <link rel="manifest" href="/manifest.json">
  <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
    rel="stylesheet" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
  <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
  <script src="assets/plugins/calendar/moment.min.js"></script>
  <script src="assets/plugins/toastr/toastr.min.js"></script>
  <script src="assets/plugins/ui/jquery-ui.js"></script>

</head>

<body ng-app="">

  <!-- wrapper -->
  <div id="wrapper">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar fixed-top">
      <!-- BEGIN HEADER INNER -->
      <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="menu-toggler sidebar-toggler">
          <h2 style="font-size: 20px;
            float: right;
            margin-left: 25px;
            color: white;"> Hà Tools</h2>

          <a href="javascript:;" id="menubtn" class="navbar-minimalize minimalize-styl-2  float-left ">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <!-- END LOGO -->

      <!-- BEGIN TOP NAVIGATION MENU -->

      <!-- END USER LOGIN DROPDOWN -->
      <!-- BEGIN QUICK SIDEBAR TOGGLER -->
      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

      <!-- END QUICK SIDEBAR TOGGLER -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
    <!-- END HEADER INNER -->
  </div>
  <!-- END HEADER -->
  <!-- BEGIN HEADER & CONTENT dropdown-divider -->
  <div class="clearfix"> </div>
  <!-- END HEADER & CONTENT dropdown-divider -->

  <!-- BEGIN CONTAINER -->
  <div class="page-container" ng-controller="moneyController">

    <aside class="sidebar">
      <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
          <li class="">
            <a href="/">
              <i class="icon options"></i>
              <span class="nav-label">Quản lý chung</span>
            </a>


          </li>
          <li class="">
            <a href="#" style="background: lightslategrey !important;">
              <span class="nav-label">Quản trị</span>
            </a>


          </li>
          <li class="">
            <a href="/products" style="background:#0D47A1">
              <i class="icon shopping bag"></i>
              <span class="nav-label">Sản phẩm</span>
            </a>
          </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
      </nav>
      <!-- END SIDEBAR -->
    </aside>
    <div class="page-content-wrapper">
      <div class="content-wrapper container">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-title">

              <h4 class="float-left">Sản phẩm</h4>
              <button class="positive ui button float-right">
                <a href="/product-add" style="color:white">Thêm sản phẩm</a>
              </button>
              <button class="primary ui button float-right">
                <a href="/product-extra" style="color:white">Nhập hàng</a>
              </button>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- BEGIN CONTENT BODY -->
            <div class="panel panel-card recent-activites">
              <!-- Start .panel -->

              <div class="ui icon input" id="search">
                <input type="text" placeholder="Tìm tên sản phẩm..." ng-model="keySearch" ng-keypress="$event.keyCode === 13 && search()">
                <i class="search link icon" ng-click="search()"></i>
              </div>
              <button id="clearBtn" class="ui compact icon button" ng-if="keySearch!='';" ng-click="clearSearch()">
                <i class="windows close icon"></i>
              </button>

              <div class=" text-xs-center">
                <div class="table-responsive table-commerce">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th class="w80">
                          <strong>ID</strong>
                        </th>
                        <th>
                          <strong>Img</strong>
                        </th>
                        <th>
                          <strong>Mã sản phẩm</strong>
                        </th>
                        <th>
                          <strong>Tên sản phẩm</strong>
                        </th>
                        <th>
                          <strong>Tiền sỉ</strong>
                        </th>
                        <th>
                          <strong>Tiền lẻ</strong>
                        </th>
                        <th>
                          <strong>Tồn kho</strong>
                        </th>

                        <th class="text-xs-center">
                          <strong>Action</strong>
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="prod in prods track by $index">
                        <td>
                          <div class="ui ribbon label">{{$index+1}}</div>
                        </td>
                        <td>
                          <img src="{{prod.img}}" style="width:80px;height:80px" alt="">
                        </td>
                        <td>{{prod.code}}</td>
                        <td>{{prod.name}}</td>
                        <td>{{prod.retail_price| number : fractionSize}} Đ</td>
                        <td>{{prod.many_price| number : fractionSize}} Đ</td>
                        <td>{{prod.quantity}}</td>
                        <td class="text-xs-center">
                          <button class="negative ui button" ng-click="deleteProd(prod)" id="delete{{prod.id}}">
                            Xóa
                          </button>
                        </td>

                      </tr>

                    </tbody>
                    <tfoot ng-if="prods.length !=0">
                      <tr>
                        <th colspan="3">
                          <div class="ui left floated pagination menu">
                            <a class="icon item" ng-click="prevPage()">
                              <i class="left chevron icon"></i>
                            </a>
                            <a class="item" ng-repeat="page in listpage" ng-click="onPage(page-1)" id="page{{page}}">{{page}}</a>
                            <a class="icon item" ng-click="nextPage()">
                              <i class="right chevron icon"></i>
                            </a>
                          </div>
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT BODY -->
        <!-- END CONTAINER -->
        <!-- /wrapper -->

        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- PRELOADER -->
        <div id="preloader">
          <div class="inner">
            <span class="loader"></span>
          </div>
        </div>
        <!-- /PRELOADER -->
      </div>

      <script>
        $('.menu-toggler').click(function () {
          if ($('.sidebar').hasClass("sidebar-right")) {
            $('.sidebar').removeClass('sidebar-right');
            $('.page-content-wrapper').removeClass('blur-backdrop');
          } else {
            $('.sidebar').addClass('sidebar-right');
            $('.page-content-wrapper').addClass('blur-backdrop');
          }
        })

        $('.page-content-wrapper').click(function () {
          $('.sidebar').removeClass('sidebar-right');
          $('.page-content-wrapper').removeClass('blur-backdrop');
        })

        function moneyController($scope, $http) {

          /* DECLARE */
          $scope.curPage = 0;
          $scope.keySearch = '';
          $scope.condition = 'where={"code":{"contains":"' + $scope.keySearch + '"}}';
          var myUrl = 'http://localhost:1337/product';

          $http.get(myUrl).success(function (response) {
            $scope.onPage($scope.curPage);
          })

          $scope.onPage = function (page) //default page1 15items
          {
            $("#search").removeClass('loading');
            if (page == 0) {
              $http.get(myUrl + '?sort=createdAt DESC&limit=15' + "&" + $scope.condition).success(function (response) {
                $scope.prods = response;
                response.forEach((prod, index) => {
                  let quantity = 0;
                  $http.get('http://localhost:1337/product_extra?product_id=' + prod.id).success(function (
                    result) {
                    result.forEach(item => {
                      quantity += item.import_quantity;
                    });
                    $scope.prods[index].quantity = quantity;
                  });
                });
              });

            } else {
              $http.get(myUrl + '?skip=' + page * 15 + '&sort=createdAt DESC&limit=15' + "&" +
                  $scope.condition)
                .success(
                  function (
                    response) { //skip == page
                    $scope.prods = response;
                  });
            }

            for (var i = 0; i <= $scope.sopage + 1; i++) {
              $('#page' + (i)).removeClass('active');
            }

            $('#page' + (page + 1)).addClass('active');
            $scope.curPage = page;
          }


          /**
           *  NEXT PAGE
           **/

          $scope.nextPage = function () {
            if ($scope.curPage < $scope.sopage && $scope.curPage >= 0)
              $scope.onPage(++$scope.curPage);
          }

          /**
           *  PREVIOUS PAGE
           **/

          $scope.prevPage = function () {
            if ($scope.curPage < $scope.sopage + 1 && $scope.curPage > 0)
              $scope.onPage(--$scope.curPage);
          }

          $scope.search = function () {
            $scope.curPage = 0;
            $("#search").addClass('loading');
            $scope.condition = '&where={"code":{"contains":"' + $scope.keySearch +
              '"}}';
            $scope.onPage($scope.curPage);
          }

          /**
           *  WH item
           **/

          $scope.quantity = function (product_id) {
            let quantity = 0;
            $http.get('http://localhost:1337/product_extra?product_id=1').success(function (response) {
              response.forEach(item => {
                quantity += item.import_quantity;
              });

              return quantity;
            })
          }

          /**
           *  DELETE LINE
           **/

          $scope.deleteProd = function (prod) {
            swal({
              title: "Cưng tính xóa cái [<span class='bluetext'>" + prod.name +
                "</span>] hả?",
              text: "Chắc chưa cưng xóa là mất đó!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Oke chắc rồi!',
              cancelButtonText: 'Ấn nhầm !',
              confirmButtonClass: 'ui green button',
              cancelButtonClass: 'ui red button',
              buttonsStyling: false
            }).then(function () {

                $("#delete" + prod.id).addClass("loading");
                $http.post(myUrl + '/delete', {
                  id: prod.id
                }).success(function () {
                  swal(
                    'Đã xóa!',
                    'Sản phẩm đã bị xóa',
                    'success'
                  )
                  $scope.onPage($scope.curPage);
                  $("#delete" + prod.id).removeClass("loading");
                });
              },
              function (dismiss) {

              })


          }

        }
      </script>

    </div>
  </div>
  <div class="footer">
    <span class="footer-text left">ver 0.3</span>
    <span class="footer-text right">Ha Tools application</span>
  </div>
</body>

</html>